:root {
  --accent-font: "Zen Maru Gothic";
  --primary: rgb(174, 50, 195);
  --secondary: rgb(184, 50, 93);
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/background.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

.nav-link {
  color: var(--primary);
  font-family: var(--accent-font);
}

.nav-link:hover {
  color: var(--secondary);
  background-color: white;
}

.selfie {
  border-radius: 30px;
  margin-bottom: 15px;
}

.accent-text {
  font-size: 20px;
  font-family: var(--accent-font);
  font-weight: bolder;
  color: var(--secondary);
  margin: 20px 0;
}
